@import '../../styles/index.scss';

.container-Home {
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-color-1;
    @include media(desktop) {
        height: 1000px;
    }
    
    .container-login-logout {
        h2 {
            text-align: center;
            margin: 10px 0;
            
            .titulos-home {
                text-decoration: none;
                padding: 10px;
                border-radius: 10px;
                color: $bg-color-5;
            }
        }
    }

    .home-bienvenida {
        margin: 20px 0;
        padding: 10px;
        color: white;
        border-radius: 10px;
    }

    .home-btn-salir {
        padding: 10px;
        width: 100px;
        border: none;
        margin: 20px 0;
    }
}